<!-- My navbar starts here -->
<div class="container">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
</div>

<!-- navbar ends here -->


<div class="container">
    <h1 class="text-center">Note-app Application</h1>
    
    <hr>
    
    <form #noteForm="ngForm" (ngSubmit)="onSubmit(noteForm)">
    <div class="mb-3">
        <label for="" class="form-label">Title</label>
        <input type="text" class="form-control" id="" placeholder="Enter your note title" [(ngModel)]="title" name="title">
        <span *ngIf="errors.name" class="text-danger">{{errors.title}}</span>
    </div>
    
    <div class="mb-3">
        <label for="" class="form-label"> Note</label>
        <textarea class="form-control" id="" rows="3" [(ngModel)]="content" name="content"></textarea>
        <span *ngIf="errors.name" class="text-danger">{{errors.content}}</span>
    </div>
    <div class="mb-3">
        <button id="submitButton" type="submit" class="btn btn-dark">Submit</button>
    </div>
    
    </form>

    <hr>
    <h1 class="text-center">Note-app View</h1>
    <hr>

    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Open Note</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <div class="d-flex h-100"> 
                <div class="align-self-start mr-auto"> 
                    <button type="button" class="btn btn-danger"> 
                      Click Me! 
                    </button> 
                </div> 
                <div class="align-self-end ml-auto"> 
                    <button type="button" class="btn btn-success"> 
                      Click Me! 
                    </button> 
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>

</div>


<router-outlet></router-outlet>